.headline
{
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}
.introduction
{
    background-color:#b3c6ff;
    font-family: sans-serif,monospace;
    font-size: 18px;
    border-style: solid;
    border-width: medium;
    
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 0.5cm;
    padding-right: 0.5c;
    position: absolute;
    top: 300px;
}
.right_flow
{
    float: right;
}
.content
{
    background-color:#b3c6ff;
    font-family: sans-serif,monospace;
    font-size: 18px;
    font-family: sans-serif,monospace;
    border-style: solid;
    border-width: medium;
    margin: 50px;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}