{% extends 'simple_base.html' %}
{% load static %}

{% block pageTitle %}
{{ course.name }}的介紹
{% endblock %}

{% block content %}
<div class="bg">
    <div class="title">
        <h1> § </h1>
        ◤◢【{{ course.name }}】◣◥
        <h1> § </h1>
    </div>

    <div class="data">
        〔{{ course.time }}〕 {{ course.credit }}學分 | {{ course.sweetScale }}分甜 | {{ course.coolScale }}分涼<br>
    </div>
        
    <div class="description">
        簡介：<br>{{ course.description }}
    </div>
    <br>
</div>
<style>
    .bg{
        background-image: url("{% static 'images/course_x3.png' %}");
    }
</style>
{% endblock %}

