{% load static %}
<div class="row">
    <img class="rounded mx-auto d-block w-50" src="{% static "images/Welcome2.png" %}">
    <a class="stretched-link" href="/"></a>
</div>
<div class="row mb-4">
    <div class="col-md-1 col-sm-1 bg-secondary"></div>
    <div class="col-md-2 col-sm-2 text-center border border-5">
        <a class="btn fs-2" data-bs-toggle="tooltip" data-bs-placement="top" title="系所介紹" href="#">系所簡介</a>
    </div>
    <div class="col-md-2 col-sm-2 text-center border border-5">
        <a class="btn fs-2" data-bs-toggle="tooltip" data-bs-placement="top" title="系所成員" href="member">系所成員</a>
    </div>
    <div class="col-md-2 col-sm-2 text-center border border-5">
        <a class="btn fs-2" data-bs-toggle="tooltip" data-bs-placement="top" title="課程介紹" href="#">課程介紹</a>
    </div>
    <div class="col-md-2 col-sm-2 text-center border border-5">
        <a class="btn fs-2" data-bs-toggle="tooltip" data-bs-placement="top" title="系所導覽" href="#">系所導覽</a>
    </div>
    <div class="col-md-2 col-sm-2 text-center border border-5">
        <a class="btn fs-2" data-bs-toggle="tooltip" data-bs-placement="top" title="其他" href="#">其他</a>
    </div>
    <div class="col-md-1 col-sm-1 bg-secondary"></div>
</div>
