{% extends 'base.html' %}
{% block title %}
    <h3>最新消息(((ﾟдﾟ)))</h3>
{% endblock %}
{% block content %}
    {% for news in allNews %}
        <div class="row mb-2">
            <div class="col-md-2 col-sm-2 bg-dark pt-3 text-white text-center">
                <p class="fs-4">{{ news.tag }}</p>
            </div>
            <div class="col-md-7 col-sm-7 bg-white pt-3 text-dark">
                <p class="fs-4">{{ news.body }}</p>
            </div>
            <div class="col-md-3 col-sm-3 bg-secondary pt-3 text-white">
                <p class="fs-4">{{ news.uploadTime }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}