{% extends 'base.html' %}
{% load static %}
{% block pageTitle %}系所簡介{% endblock %}
{% block contentTitle %}
<h3>系所介紹( ￣ 3￣)y▂ξ</h3>
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-12 col-sm-12 text-center">
        <img class="w-50" src="{% static "images/DETIAN.jpg" %}">
    </div>
    <div class="col-8 col-md-8 col-sm-8 text-center">
        <p class="fs-4">
        歡迎來大台大資訊系，這是一個由許多電神、數學家教授與學生們組成的科系。 在這裡，我們每天與來自
        台灣各地的資訊領域人才互相切磋學習，研究系統、演算法、數學等資訊領域的學問，每天燃燒生命與睡眠，為的就是成為最頂尖的資訊人才。而這個網站紀錄了我們這兩年以來在系上的所見所聞，希望會對你有些幫助。
        </p>
    </div>
</div>
{% endblock %}