{% extends 'base.html' %}
{% block pageTitle %}其他{% endblock %}
{% block contentTitle %}
<h3>其他項目(ﾟд⊙)(⊙дﾟ)</h3>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-12 col-sm-12">
        <a href="https://council.csie.ntu.edu.tw/"><h4>️關於專題課一些教授的訪問</h4></a>
        <a href="https://judgegirl.csie.org/"><h4>大家最愛的 judge girl❤️</h4></a>
        <a href="https://www.csie.ntu.edu.tw/"><h4>️真的系上網站</h4></a>
        <h5>現在其他項目沒有其他東西了｡ﾟヽ(ﾟ´Д`)ﾉﾟ｡</h5>
    </div>
</div>
{% endblock %}