{% extends 'base.html' %}
{% block pageTitle %}系所成員{% endblock %}
{% block contentTitle %}
<h3>教授列表ヽ(∀ﾟ )人(ﾟ∀ﾟ)人( ﾟ∀)人(∀ﾟ )人(ﾟ∀ﾟ)人( ﾟ∀)ﾉ</h3>
{% endblock %}
{% block content %}
<div class="row">
    {% for professor in profs %}
        {% load static %}
        <div class="col-md-4 col-sm-6">
            <div class="card border-5">
                <img class="card-img-top p-2" src="{{ professor.pic.url }}">
                <div class="card-body">
                    <div class="card-title fs-4"><b>{{ professor.name }}</b></div>
                    <div class="card-title"><b>稱號：</b>{{ professor.title }}</div>
                    <div class="card-title"><b>研究領域：</b>{{ professor.research | truncatechars:10 }}</div>
                    <div class="card-title"><b>[點擊查看詳細資料]</b></div>
                </div>
                <a class="stretched-link" href="professor/{{professor.slug}}"></a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}