<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    {% load static %}
</head>
<body>
    <div class="container-fluid">
        <div style="text-align: center;">
            <h1 style="border-top:30px; font-family: 'Times New Roman'; font-size: 80px;"> NTU CSIE </h1>
            <h3 style="font-family: 新細明體">
                <a href="#">系所簡介</a><em>　　　</em>
                <a href="/professor">系所成員</a><em>　　　</em>
                <a href="/course">課程介紹</a><em>　　　</em>
                <a href="/facility">系所導覽</a><em>　　　</em>
                <a href="#">其他</a>
            </h3>

            <h1>========================================</h1>
            <h1 style="font-family: 新細明體;">▁▂▃▄▅▆▇█{% if prof.title != '無'%}【{{ prof.title }}】{% endif %} {{ prof.name }} 教授 █▇▆▅▄▃▂▁</h1>
            <h1>========================================</h1>
            <img src="{{ prof.pic.url }}">
        </div>

        <div class="description">簡介：<br>{{ prof.description }}</div>
        <br>

        <div style="text-align: center; background-color: pink;">
            <h3>注意: 以上資訊皆為個人見解，請冷靜閱讀，所以我放了五台電風扇在這邊</h3>
            {% for i in '01234'|make_list %}
            <img src="{% static 'images/eletric_fan_spin.gif' %}" style="margin-left: 20px; margin-right: 20px;">
            {% endfor %}
        </div>

        <div style="text-align: center;">
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>

<style>
    .description {
        position: relative;
        font-size: 30px;
        width: 1000px;
        left: 50%;
        transform: translate(-50%, 0);
    }
</style>
