<div class="header">
    <h1 style="font-family: 'Times New Roman'; font-size: 80px;"> NTU CSIE </h1>
    <p style="font-family: 新細明體; font-size: 32px;">
        ╔════╦╦╦╦╦════╦╦╦╦╦════╦╦╦╦╦════╦╦╦╦╦══╗<br>
        ╠<a href="#">系所簡介</a><span>╣╠◇╣╠</span><a href="/professor">系所成員</a><span>╣╠◇╣╠</span><a href="/course">課程介紹</a><span>╣╠◇╣╠</span><a href="/facility">系所導覽</a><span>╣╠◇╣╠</span><a href="#">其他</a>╣<br>
        ╚════╩╩╩╩╩════╩╩╩╩╩════╩╩╩╩╩════╩╩╩╩╩══╝
    </p>
</div>
<style>
    .header {
        text-align: center;
        line-height: 200%;
        padding: 5px;
        background-color: rgb(140, 224, 255);
    }
    a{
        text-decoration: none;
    }
</style>