{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %} {{ post.title }}-我的貼文 {% endblock %}
{% block headmessage %} 
    <h3 style="font-family: 標楷體;"> {{ post.title }} </h3>
    <a style="font-family: 標楷體;" href="/">回首頁</a>
{% endblock %}
{% block content %}
        <p style="font-family: 標楷體; font-size: 12pt; letter-spacing: 2pt ;">
            <div class="row">
                {% if post.pic %}
                    <div class="col-md-2 col-sm-2">
                        <img src="{{ post.pic.url }}" width="200">
                    </div>
                {% endif %}
                <div class="col-md-10 col-sm-2">
                    {{ post.body| markdown | linebreaksbr}}
                </div>
            </div>
        </p>
{% endblock %}