.headline
{
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}
.content, .introduction, .music, .skill, .toDo
{
    background-color:#b3c6ff;
    font-family: sans-serif,monospace;
    font-size: 18px;
    border-style: solid;
    border-width: medium;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    text-align: center;
    display: inline-block;
}
.subContent
{
    background-color: #b3ffec;
    display: inline-block;
    border-style: solid;
    border-width: medium;   
    width: 40%;
    margin: 10px;
}
.introduction
{    
    width: 40%;
    margin: 40px;
    position: relative;
    bottom:-100px
}
.music
{
    width: 60%;
    padding-bottom: 0.5cm;
    margin: 40px;
}
.skill
{
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    bottom: 40px;
    left: 20px;
}
.toDo
{
    width: 60%;
    position: relative;
    bottom: 35px;
    margin: 40px;
}
.cirno
{
    float: right;
    position: relative;
    right: 150px;
    width: 15%;
}
.police
{
    position: fixed;
    z-index: 2;
    width: 100px;
    right: 10px;
    bottom: 10px;
}
.shrine
{
    background-color:#b3c6ff;
    width: 25%;
    border-style: solid;
    border-width: medium;
    text-align: center;
    padding-bottom: 15px;
}
.sign
{
    font-size: 40px;
    width: 40%;
    height: 50%;
    margin: 10px;
}
.button
{
    font-size: 24px;
    width: 125px;
    height: 50px;
}